<div class="container">
  <div class="row">
    <div class="col-md-12 p-5 bg-secondary-theme shadow-effect">
      <h3 class="text-center text-theme-primary">New Categories</h3>
      <p class="text-center mb-5">You can add new categories from here ...!</p>

      <form class="form-inline text-center" #categoryForm='ngForm' (ngSubmit)="onSubmit(categoryForm)">
        <div class="form-group col-md-10">
          <input
            [(ngModel)]="formCategory"
            required
            type="text"
            name="category"
            #newCategory="ngModel"
            placeholder="Add New Categories"
            class="form-control shadow-effect category_input"
            [ngClass]="{ 'is-invalid': newCategory.touched && newCategory.invalid }">

            <small class="alert alert-danger" *ngIf="newCategory.touched && newCategory.invalid">
              Category field is required.
            </small>
        </div>

        <div class="col-md-2">
          <button
            class="btn btn-block btn-theme mb-2 category_btn"
            [ngClass]="{'frozen-button': categoryForm.invalid}"
            [disabled]="categoryForm.invalid">
            Add Category
          </button>
        </div>
      </form>

    </div>
  </div>

  <div class="row mt-5 mb-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card shadow-effect">
        <div class="card-body">
          <table class="table row-border hover">
            <thead>
              <tr>
                <th>No</th>
                <th>Category</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of categoryList; let i = index">
                <td>{{i+1}}</td>
                <td>{{item.data.category}}</td>
                <td>
                  <button class="btn btn-sm btn-warning" (click)="onEdit(item.data.category)">
                    <i></i>
                    Edit
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-3"></div>
  </div>

</div>
