.category_input{
  width: 88%;
}

.category_btn{
  margin-left: -6rem;
  margin-top: .5rem;
}

small{
  margin-top: .5rem;
  width: 88%;
}

.frozen-btn{
  opacity: .7;
  cursor: not-allowed;
  background-color: #519795;
}
